.offers
	margin-top: 180px
	width: 100%
	font-family: Noto Serif
	display: flex
	position: relative
	padding: 0px 120px

.offers__img-main-image
	margin-right: 40px
	img
		width: 100%
		z-index: 0

.offers__img-bg-image-1
	width: 100%
	position: relative
	z-index: 1
	top: -390px
	left: 250px

.offers__img-bg-image-2
	width: 100%
	position: relative
	z-index: 2
	top: -250px
	left: -60px
