.top-destinations
	width: 100%
	font-family: Noto Serif
	display: flex
	padding: 100px 40px 100px 70px

.top-destinations__info
	display: flex
	flex-direction: column
	align-content: center
	padding-top: 60px

.top-destination__info-img
	img
		width: 250px

.top-destination__info-text
	width: 330px
	padding: 30px 0px

.top-destinations__pictures
	display: flex

.top-destinations__picture
	padding: 10px
	img
		width: 100%
